header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 50px;
    max-height: 150px;

    padding
  }
  
  header div.logo {
    font-size: 1.2rem;
    font-family: "BhuTuka Expanded One", sans-serif;
    font-weight: 800;
  }
  
  header nav img {
    width: 2.1rem;
  }
  
  header nav ul.desktop-nav {
    display: none;
  }