* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.btn-link:link {
  color: #6070ff;
  background-color: #fff;
  border: 1px solid #6070ff;
  transition: background-color, color 1s;
}

a.btn-link:visited {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #fff;
}

a.btn-link:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #fff;
}

a.btn-link:active {
  color: #fff;
  background: #2230d2;
  border: 1px solid #fff;
}

body {
  display: grid;
  grid-template-columns: auto;
  font-family: "Poppins", sans-serif;
  background-color: rgb(233, 235, 236);
  max-width: 100vw;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 50px;
  max-height: 150px;
  background-color: #fff;
}

header div.logo {
  font-family: "BhuTuka Expanded One", serif;
  font-weight: 800;
  font-size: 1.2rem;
  animation: size-up 2s ease-in;
}

@keyframes size-up {
  from {
    font-size: 0.8rem;
  }

  to {
    font-size: 1.2rem;
  }
}

header nav img {
  width: 2.1rem;
}

header nav ul.desktop-nav {
  display: none;
}

section.intro-section {
  border-bottom-left-radius: 50px;
  padding: 20px;
  padding-bottom: 4rem;
  background-color: #fff;
  background-image: url(../assets/headerbg.svg);
}

section.intro-section article h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

section.about-section article p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
}

section.intro-section article p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

section.intro-section div.contact-me h2 {
  text-transform: uppercase;
  color: #7f8cff;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

section.about-section div.contact-me a {
  padding: 8px 12px;
  margin: 10px 2px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

section.project-section article.project-card div.project_info a {
  padding: 8px 12px;
  margin: auto 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

section.intro-section div.contact-me ul.socials {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

section.intro-section div.contact-me ul.socials li a {
  background-color: transparent;
  border: none;
}

section.project-section article.project-card img {
  margin: auto;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 100%;
}

section.about-section div.contact-me ul.socials li a img {
  width: 1.2rem;
  height: 1.2rem;
  transition: all 1s;
}

section.intro-section div.contact-me ul.socials li a img {
  transition: all 1s;
  width: 1.2rem;
  height: 1.2rem;
}

section.intro-section div.contact-me ul.socials li a img:hover {
  transform: scale(1.2);
  box-shadow: 60px 54px 5px 0 #b0c4f7 inset;
  -webkit-box-shadow: 60px 54px 5px 0 #dfe1e6 inset;
  -moz-box-shadow: 60px 54px 5px 0 #dfe1e6 inset;
}

section.project-section {
  display: grid;
  grid-template-columns: auto;
  background-color: #e5e5e5;
  align-items: center;
}

section.project-section article.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 1rem 0 2.5rem;
  padding: 1rem;
}

section.project-section article.project-card div.project_info {
  margin: 0.8rem 0.2rem;
}

section.about-section article h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

section.project-section article.project-card div.project_info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0.8rem;
}

section.project-section article.project-card div.project_info ul {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  align-items: left;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

section.project-section article.project-card div.project_info ul li {
  list-style-type: circle;
  text-transform: capitalize;
  color: #7a869a;
}

section.project-section article.project-card div.project_info ul li:nth-child(1) {
  list-style-type: none;
  text-transform: uppercase;
  color: #2b3546;
  font-weight: 600;
}

section.project-section article.project-card div.project_info p {
  margin: 0.2rem;
  font-size: 1.1rem;
}

section.project-section article.project-card div.project_info ul.skills-ul {
  align-items: left;
  justify-content: left;
  margin: 1.5rem auto 2rem;
}

section.project-section article.project-card div.project_info ul.skills-ul li {
  float: left;
  border: 1px solid #dfe1e6;
  list-style-type: none;
  border-radius: 8px;
  background: #ebebff;
  text-align: center;
  text-transform: lowercase;
  color: #6070ff;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem;
  margin: auto 5px;
}

section.about-section {
  background-color: #fff;
  background-image: none;
  border-radius: 0 100px 0 0;
  margin: 0;
  padding: 10px 10px 20px;
}

section.about-section div.contact-me h2 {
  text-transform: uppercase;
  color: #7f8cff;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

section.about-section div.contact-me ul.socials li a img:hover {
  transform: scale(1.2);
  box-shadow: 60px 54px 5px 0 #b0c4f7 inset;
  -webkit-box-shadow: 60px 54px 5px 0 #dfe1e6 inset;
  -moz-box-shadow: 60px 54px 5px 0 #dfe1e6 inset;
}

section.about-section div.contact-me ul.socials {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin-bottom: 1.2rem;
}

section.about-section div.contact-me ul.socials li a {
  background-color: transparent;
  border: none;
  padding: 0;
}

section#skills-section ul.mainskill-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5px;
  justify-content: space-between;
}

section#skills-section ul.mainskill-ul li {
  list-style-type: none;
  align-items: center;
  font-size: 1.6rem;
  border-bottom: 2px solid #f7f7f9;
  padding: 16px 0;
}

section#skills-section ul.mainskill-ul li img.arrow {
  width: 1rem;
  margin-right: 10px;
  float: right;
}

section#skills-section ul.mainskill-ul li img.arrow:hover {
  filter: drop-shadow(1px 1px 1px grey);
  animation: shakey 0.4s alternate;
}

@keyframes shakey {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(4px);
  }
}

section#skills-section ul.mainskill-ul li ul li {
  background-color: #f7f7f9;
  padding: 16px 0;
  border-radius: 0.5rem;
  margin: 10px 0;
  font-size: 1.2rem;
  display: flex;
  gap: 32px;
}

section#skills-section ul.mainskill-ul li ul li img {
  width: 40px;
}
